In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
# criando sparksession
spark = SparkSession.builder.appName("Exemplo-1").getOrCreate()

In [16]:
# criando dataframe de pessoas
data = [
    (1, "Alice", 25, "F", 5),
    (2, "Bob", 30, "M", 8),
    (3, "Charlie", 22, "M", 1),
    (4, "David", 28, "M", 6),
    (5, "Eve", 35, "F", 10),
    (6, "Frank", 27, "M", 4),
    (7, "Grace", 29, "F", 7),
    (8, "Henry", 33, "M", 9),
    (9, "Ivy", 26, "F", 12),
    (10, "Jack", 31, "M", 17),
    (11, "Karen", 24, "F", 14),
    (12, "Leo", 32, "M", 6),
    (13, "Mia", 23, "F", 13),
    (14, "Nathan", 34, "M", 18),
    (15, "Olivia", 27, "F", 15),
    (16, "Peter", 30, "M", 19),
    (17, "Quinn", 28, "F", 16),
    (18, "Ryan", 33, "M", 20),
    (19, "Sophia", 26, "F", 3),
    (20, "Tom", 31, "M", 7)
]
people_df = spark.createDataFrame(data, ["id", "name", "age", "gender", "job_id"])

In [17]:
# criando dataframe de trabalhos
data = [
    (1, "Software Engineer", 50000),
    (2, "Data Analyst", 60000),
    (3, "Marketing Specialist", 45000),
    (4, "Sales Representative", 55000),
    (5, "Product Manager", 70000),
    (6, "Financial Analyst", 65000),
    (7, "Graphic Designer", 52000),
    (8, "Operations Manager", 75000),
    (9, "Customer Service Representative", 48000),
    (10, "Project Manager", 72000),
    (11, "Data Scientist", 80000),
    (12, "Business Analyst", 68000),
    (13, "Software Developer", 75000),
    (14, "UI/UX Designer", 62000),
    (15, "Financial Planner", 70000),
    (16, "Human Resources Manager", 73000),
    (17, "Digital Marketing Specialist", 58000),
    (18, "IT Support", 43000),
    (19, "Research Scientist", 75000),
    (20, "Trainee", 46000)
]
jobs_df = spark.createDataFrame(data, ["job_id", "job_title", "salary"])

In [18]:
# show dataframes
people_df.show()
jobs_df.show()

+---+-------+---+------+------+
| id|   name|age|gender|job_id|
+---+-------+---+------+------+
|  1|  Alice| 25|     F|     5|
|  2|    Bob| 30|     M|     8|
|  3|Charlie| 22|     M|     1|
|  4|  David| 28|     M|     6|
|  5|    Eve| 35|     F|    10|
|  6|  Frank| 27|     M|     4|
|  7|  Grace| 29|     F|     7|
|  8|  Henry| 33|     M|     9|
|  9|    Ivy| 26|     F|    12|
| 10|   Jack| 31|     M|    17|
| 11|  Karen| 24|     F|    14|
| 12|    Leo| 32|     M|     6|
| 13|    Mia| 23|     F|    13|
| 14| Nathan| 34|     M|    18|
| 15| Olivia| 27|     F|    15|
| 16|  Peter| 30|     M|    19|
| 17|  Quinn| 28|     F|    16|
| 18|   Ryan| 33|     M|    20|
| 19| Sophia| 26|     F|     3|
| 20|    Tom| 31|     M|     7|
+---+-------+---+------+------+

+------+--------------------+------+
|job_id|           job_title|salary|
+------+--------------------+------+
|     1|   Software Engineer| 50000|
|     2|        Data Analyst| 60000|
|     3|Marketing Specialist| 45000|
|     4|Sales Representative| 55000|
|     5|     Product Manager| 70000|
|     6|   Financial Analyst| 65000|
|     7|    Graphic Designer| 52000|
|     8|  Operations Manager| 75000|
|     9|Customer Service ...| 48000|
|    10|     Project Manager| 72000|
|    11|      Data Scientist| 80000|
|    12|    Business Analyst| 68000|
|    13|  Software Developer| 75000|
|    14|      UI/UX Designer| 62000|
|    15|   Financial Planner| 70000|
|    16|Human Resources M...| 73000|
|    17|Digital Marketing...| 58000|
|    18|          IT Support| 43000|
|    19|  Research Scientist| 75000|
|    20|             Trainee| 46000|
+------+--------------------+------+

In [19]:
# selecionando colunas
people_df.select("name", "age").show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 22|
|  David| 28|
|    Eve| 35|
|  Frank| 27|
|  Grace| 29|
|  Henry| 33|
|    Ivy| 26|
|   Jack| 31|
|  Karen| 24|
|    Leo| 32|
|    Mia| 23|
| Nathan| 34|
| Olivia| 27|
|  Peter| 30|
|  Quinn| 28|
|   Ryan| 33|
| Sophia| 26|
|    Tom| 31|
+-------+---+

In [20]:
# filtrando dados
people_df.filter(col("age") > 30).show()

+---+------+---+------+------+
| id|  name|age|gender|job_id|
+---+------+---+------+------+
|  5|   Eve| 35|     F|    10|
|  8| Henry| 33|     M|     9|
| 10|  Jack| 31|     M|    17|
| 12|   Leo| 32|     M|     6|
| 14|Nathan| 34|     M|    18|
| 18|  Ryan| 33|     M|    20|
| 20|   Tom| 31|     M|     7|
+---+------+---+------+------+

In [21]:
# agrupar e agregar dados
people_df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|     F|    9|
|     M|   11|
+------+-----+

In [22]:
# ordenar dados
people_df.orderBy("age", ascending=False).show()

+---+-------+---+------+------+
| id|   name|age|gender|job_id|
+---+-------+---+------+------+
|  5|    Eve| 35|     F|    10|
| 14| Nathan| 34|     M|    18|
|  8|  Henry| 33|     M|     9|
| 18|   Ryan| 33|     M|    20|
| 12|    Leo| 32|     M|     6|
| 10|   Jack| 31|     M|    17|
| 20|    Tom| 31|     M|     7|
|  2|    Bob| 30|     M|     8|
| 16|  Peter| 30|     M|    19|
|  7|  Grace| 29|     F|     7|
| 17|  Quinn| 28|     F|    16|
|  4|  David| 28|     M|     6|
| 15| Olivia| 27|     F|    15|
|  6|  Frank| 27|     M|     4|
| 19| Sophia| 26|     F|     3|
|  9|    Ivy| 26|     F|    12|
|  1|  Alice| 25|     F|     5|
| 11|  Karen| 24|     F|    14|
| 13|    Mia| 23|     F|    13|
|  3|Charlie| 22|     M|     1|
+---+-------+---+------+------+

In [23]:
# unindo as tabelas
people_df.join(jobs_df, ["job_id"], "inner").show()

+------+---+-------+---+------+--------------------+------+
|job_id| id|   name|age|gender|           job_title|salary|
+------+---+-------+---+------+--------------------+------+
|     1|  3|Charlie| 22|     M|   Software Engineer| 50000|
|     3| 19| Sophia| 26|     F|Marketing Specialist| 45000|
|     4|  6|  Frank| 27|     M|Sales Representative| 55000|
|     5|  1|  Alice| 25|     F|     Product Manager| 70000|
|     6|  4|  David| 28|     M|   Financial Analyst| 65000|
|     6| 12|    Leo| 32|     M|   Financial Analyst| 65000|
|     7|  7|  Grace| 29|     F|    Graphic Designer| 52000|
|     7| 20|    Tom| 31|     M|    Graphic Designer| 52000|
|     8|  2|    Bob| 30|     M|  Operations Manager| 75000|
|     9|  8|  Henry| 33|     M|Customer Service ...| 48000|
|    10|  5|    Eve| 35|     F|     Project Manager| 72000|
|    12|  9|    Ivy| 26|     F|    Business Analyst| 68000|
|    13| 13|    Mia| 23|     F|  Software Developer| 75000|
|    14| 11|  Karen| 24|     F|      UI/UX Designer| 62000|
|    15| 15| Olivia| 27|     F|   Financial Planner| 70000|
|    16| 17|  Quinn| 28|     F|Human Resources M...| 73000|
|    17| 10|   Jack| 31|     M|Digital Marketing...| 58000|
|    18| 14| Nathan| 34|     M|          IT Support| 43000|
|    19| 16|  Peter| 30|     M|  Research Scientist| 75000|
|    20| 18|   Ryan| 33|     M|             Trainee| 46000|
+------+---+-------+---+------+--------------------+------+